html {
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
body {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:link {
  color: #333738;
}
a:visited {
  color: #333738;
}

div {
  display: block;
}
menu, ol, ul {
  list-style: none;
}

#root {
  position: relative;
}
.display-none.display-none {
  display: none;
}

#chat-bottom {
  border: none;
  height: 0;
  width: 0;
}









/* AVATAR */

.avatar-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.1);
}
.avatar-container-double {
  width: 600px;
  height: 600px;
}
.avatar-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 32px;
  padding: 0 24px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.avatar-header {
  padding: 24px 0;
  display: flex;
  color: #000;
}
.avatar-title {
  flex: 1 1 auto;
}
.avatar-close-symb {
  transform: scale(1.3);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-pic-field {
  height: 80%;
  width: 100%;
  position: relative;
}
.avatar-edit {
  position: relative;
  height: calc(100% - 70px - 64px - 93px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.avatar-edit__pic {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  transform: translate(0px, 0px);
}
.avatar-edit__pic:hover {
  user-select: none;
  cursor: grab;
}
.avatar-edit__circle {
  position: absolute;
  border: 4px solid white;
  border-radius: 40%;
  width: 360px;
  height: 360px;
  box-shadow: 0 0 0 9999px rgba(50, 50, 50, 0.5);
}
.avatar-edit__circle:hover {
  user-select: none;
  cursor: grab;
}

.avatar-slider-wrapper {
  display: flex;
  padding-top: 24px;
}
.slider-minus {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 16px 0 8px;
}
.slider-plus {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 8px 0 16px;
}

.avatar-slider {
  position: relative;
  width: 100%;
  height: 40px;
  flex: 1 1 auto;
}
.avatar-slider:hover {
  cursor: pointer;
}
.avatar-slider__bar {
  position: relative;
  top: 16px;
  height: 8px;
  border-radius: 4px;
  background-color: #E0E2E3;
}
.avatar-slider__bar-fill {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #298FED;
  height: 100%;
  width: 0;
}
.avatar-slider__tick {
  position: relative;
  top: 0px;
  width: 10px;
  height: 24px;
  background-color: #828A8E;
  border-radius: 3px;
}


.avatar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 0;
}
.profile-btn-cancel {
  appearance: none;
  border: none;
  border-radius: 20px;
  width: 76px;
  display: flex;
  justify-content: center;
  color: #000;
  padding: 12px 0;
  background-color: #F2F2F2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
}
.profile-btn-save {
  appearance: none;
  border: none;
  border-radius: 20px;
  width: 76px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding: 12px 0;
  background-color: #ED7029;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
}

.profile-btn-cancel:hover,
.profile-btn-save:hover {
  cursor: pointer;
}












/* CONTAINER */
.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}





/* SIDEBAR */


.sidebar-user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  height: 79px;
  width: 214px;
  padding: 10px 10px 24px 10px;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 25px 20px;
}

.sidebar-user-info__avatar {
  grid-column: 1;
  grid-row: 1/3;
  position: relative;
  z-index: 10;
}
.sidebar-user-info__avatar:hover {
  cursor: default;
}
.sidebar-user-info__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  background-color: #25BB75;
}
.sidebar-user-info__pic {
  position: relative;
  z-index: 11;
  flex: 0 0 auto;
  height: 45px;
  width: 45px;
  border-radius: 40%;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-user-info__name {
  grid-column: 2;
  grid-row: 1;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.sidebar-user-info__id {
  grid-column: 2;
  grid-row: 2;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #828a8e;
}







.sidebar {
  background-color: #F2F2F2;
  flex: 0 0 auto;
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar__header {
  flex: 0 0 auto;
  padding: 10px 10px 10px 14px;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEAEB;
}
.babble-title {
  font-size: 20px;
  padding-left: 8px;
}


.sidebar__nav-wrapper {
  height: calc(100vh - 48px - 79px);
  overflow-y: hidden;
}
.sidebar__nav {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 4px 0 4px 4px;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent;
  display: none;
} */
.sidebar__nav::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.sidebar__nav:hover::-webkit-scrollbar-thumb {
  background-color: #828a8e3d;
  border-radius: 3px;
}
.sidebar__nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.sidebar__item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.sidebar__nav > .sidebar__item {
  border-bottom: 1px solid #EBEAEB;
  /* border-bottom: 1px solid #b0b2b3; */
}

.sidebar__item__header {
  padding-top: 4px;
  padding-bottom: 4px;
  flex: 0 0 auto;
  display: flex;
}
.sidebar__item__header:hover {
  cursor: pointer;
}

.sidebar__item__header--lvl1 {
  padding-left: 4px;
}
.sidebar__item__header--lvl2 {
  padding-left: 7px;
}
.sidebar__item__header--lvl3 {
  padding-left: 10px;
}


.sidebar__item__header-left {
  flex: 1 1 auto;
  display: flex;
}
.sidebar__item__header-right {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__item__header-right:hover {
  background-color: #E0E2E3;
}
.sidebar__item-chevron {
  padding: 0 6px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__item-chevron svg {
  transform: scale(0.714);
}
.sidebar__item--active >
.sidebar__item__header >
.sidebar__item__header-left >
.sidebar__item-chevron {
  transform: rotate(90deg);
}
.sidebar__item-symb {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__item-symb--scale-down {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}
.sidebar__item-symb--scale-up {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  padding: 0 3px;
}
.sidebar__item-text {
  padding-left: 3px;
  flex: 1 1 auto;
}



.sidebar__item-extra-plus {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__item-extra-plus svg {
  transform: scale(0.625);
}
.sidebar__item-extra-plus svg:hover path {
  fill: #0D0D0D;
}


.sidebar__item__content {
  display: none;
}
/* .sidebar__item--active {
} */

.sidebar__item--active > .sidebar__item__content {
  flex: 1 1 auto;
  display: block;
}


.sidebar__item__content-topic a {
  padding-left: 14px;
  display: flex;
}
.sidebar__item__content-topic-symb {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.sidebar__item__content-topic-text {
  padding-left: 3px;
  flex: 1 1 auto;
}

.sidebar__item__content-unit {
  padding: 4px 0;
}


.sidebar__nav__item-symb {
  flex: 0 0 auto;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  background-color: lightgray;
}







.sidebar__contacts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar__contact {
  position: relative;
  z-index: 10;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}
.sidebar__contact:hover {
  background-color: #E0E2E3;
}
.sidebar__contact:hover .sidebar__contact__online {
  border: 1px solid #E0E2E3;
}
.sidebar__contact--selected {
  background-color: #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact:hover {
  background-color: #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact__online {
  border: 1px solid #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact:hover .sidebar__contact__online {
  border: 1px solid #B0B2B3;
}

.sidebar__contact--selected .sidebar__contact__name {
  color: white;
}
.sidebar__contact__avatar {
  position: relative;
  z-index: 10;
  padding: 2px;
  margin-right: 8px;
}
.sidebar__contact__pic {
  position: relative;
  z-index: 11;
  flex: 0 0 auto;
  height: 16px;
  width: 16px;
  border-radius: 40%;
  font-size: 10px;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__contact__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  background-color: #25BB75;
}
.sidebar__contact__name {
  flex: 1 1 auto;
}
.sidebar__contact__unread {
  flex: 0 0 auto;
  font-size: 10px;
  line-height: 13px;
  padding: 2px 8px;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;
  border-radius: 15px;
  background-color: #ED7029;
}



.contact-container {
  height: 42px;
  padding: 0 8px;
}







.content {
  max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.content__header {
  flex: 0 0 auto;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEAEB;
}




/* SETTINGS */

.settings {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}




/* PROFILE */

.profile {
  margin-top: 32px;
  flex: 1 1 auto;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}
.profile-title {
  flex: 1 1 auto;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
.profile-subtitle {
  flex: 1 1 auto;
  color: #828A8E;
}

.separator {
  border-bottom: 1px solid #F2F2F2;
  margin: 24px 0;
}


.profile-avatar-title {
  color: #828A8E;
}

.profile-avatar-pic-wrapper {
  margin: 8px 0;
}
.profile-avatar-pic {
  width: 152px;
  height: 152px;
  border-radius: 40%;
}
.profile-avatar-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 700;
  color: #828A8E;
  background-color: #F2F2F2;
  width: 152px;
  height: 152px;
  border-radius: 40%;
}

.profile-avatar-buttons {
  display: flex;
  width: 152px;
  justify-content: space-between;
  align-items: center;
}
.profile-btn-delete {
  appearance: none;
  border: none;
  border-radius: 14px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  background-color: #F2F2F2;
}
.profile-btn-upload {
  appearance: none;
  border: none;
  border-radius: 14px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  background-color: #F2F2F2;
}
.profile-btn-delete:hover,
.profile-btn-upload:hover {
  cursor: pointer;
}

.profile-inp-wrapper {
  margin-bottom: 24px;
}
.profile-label {
  display: block;
  color: #828A8E;
}
.profile-input {
  width: 100%;
  padding: 11px 16px 11px 16px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
.profile-input:focus {
  outline: none;
}


.profile-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.profile-btn {
  padding: 12px 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  appearance: none;
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
}
.profile-btn:hover {
  cursor: pointer;
}
.profile-btn-symb {
  display: flex;
  align-items: center;
  margin-right: 10px;
}






.nav-flexible {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.nav-fixed {
  flex: 0 0 auto;
  display: flex;
}
.flex-item {
  /* min-width: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* flex: 0 0 auto; */
  padding: 2px 8px;
  margin: 0 8px;
}

.content__main {
  height: 100vh;
}
.content__main__contacts {
  max-width: 800px;
  border-right: 1px solid #EBEAEB;
}

.content-header-wrapper {
  position: relative;
  top: 0;
  margin: 0 auto;
  max-width: 800px;
  height: 48px;
  display: flex;
}
.main-nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}







.chat {
  flex: 1 1 auto;
  max-height: calc(100% - 48px);
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
}
.chat-upper-wrap {
  flex: 1 1 auto;
  overflow-y: auto;
}
.chat-lower-wrap {
  max-height: 50%;
  flex: 0 0 auto;
}



.chat__contact-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.chat__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__contact__avatar {
  position: relative;
  z-index: 10;
  padding: 2px;
  margin-bottom: 8px;
}
.chat__contact__pic {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #828A8E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__contact__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #25BB75;
}

.chat__contact__name {
  flex: 1 1 auto;
  font-size: 22px;
  font-weight: 700;
}


.chat__messages {
  display: flex;
  flex-direction: column;
}
.chat__date {
  position: relative;
  margin-top: 14px;
  margin-bottom: 6px;
  height: 19px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  line-height: 15px;
  color: #B0B2B3;
}

.chat__date__line {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ED7029;
}
.chat__date__new {
  position: absolute;
  left: 0;
  z-index: 11;
  padding: 2px 8px;
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #ED7029;
}
.chat__date__date-wrapper {
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__date__date {
  background-color: #FFFFFF;
  padding: 0 8px;
}
.chat__date__date--orange {
  color: #ED7029;
}


.chat__msg-container {
  display: flex;
}
.chat__msg {
  padding: 12px 16px;
  margin: 2px;
  border-radius: 20px;
  line-height: 21px;
}
.chat__msg--side1 {
  background-color: #F2F2F2;
}
.chat__msg--side2 {
  background-color: #298FED;
  color: white;
}

.chat__msg__pic-wrapper {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
.chat__msg__pic {
  height: 40px;
  width: 40px;
  border-radius: 40%;
  font-size: 22px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #828A8E;
  display: flex;
  align-items: center;
  justify-content: center;
}









.chat__msg-input {
  padding-left: 16px;
  border-radius: 20px;
  border: 1px solid #B0B2B3;
  display: flex;
}
.chat__msg-input__textarea {
  padding: 12px 0px;
  flex: 1 1 auto;
  border: none;
  resize: none;
  appearance: none;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 21px;
}
.chat__msg-input__textarea:focus {
  outline: none;
}


.chat__msg-input__input input:focus {
  outline: none;
}

.chat__msg-input__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.chat__msg-input__btn {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
}







/* AUTH */
.auth {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.auth-warn-wrapper {
  position: relative;
  width: 100%;
}
.auth-warn {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: red;
}

.auth__header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__header-wrapper {
  margin-top: 35px;
  flex: 1 1 auto;
  display: flex;
  max-width: 960px;
}
.logo {
  width: 30px;
  height: 30px;
  background-color: black;
  flex: 0 0 auto;
}
.auth__header-link {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.auth__header-link span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.auth__header-link a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 5px;
  color: #298FED;
}


.auth__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__content-wrapper {}

.auth__content-welcome {
  display: flex;
  justify-content: center;
  font-size: 42px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 39px;
}

.auth-form,
.auth-form ul,
.auth-form li,
.auth-form label,
.auth-form input {
  width: 100%;
}

.auth-form li {
  margin-top: 10px;
}
.auth-form label {
  display: block;
}
.auth-form input {
  border: none;
  font-size: 16px;
}
.auth-form input:focus {
  outline: none;
}
.auth-inp-wrapper {
  margin: 16px auto;
  width: 328px;
  padding: 11px 16px 11px 16px;
  border: 1px solid #B0B2B3;
  border-radius: 20px;
  display: flex;
}
#eye-opened {
  margin-right: 1px;
}
.auth-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-inp-wrapper input {
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
.auth-inp-wrapper input::placeholder {
  color: #B0B2B3;
}
.auth-inp-wrapper:focus-within {
  outline: currentColors solid 1px;
}

.auth__signin-extra {
  width: 328px;
  margin: 16px auto;
  padding: 0 6px;
  display: flex;
}
.auth__signin-extra-checkbox {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-symb-label {
  margin-left: 10px;
}
.auth__signin-extra-reminder {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  color: #298FED;
}

.passw-symb {
  display: flex;
  align-items: center;
}
.passw-symb:hover {
  cursor: pointer;
}

.auth-btn {
  appearance: none;
  border: none;
  margin: 32px auto 0 auto;
  width: 328px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding: 12px 0;
  background-color: #ED7029;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}
.auth-btn:hover {
  cursor: pointer;
}









.modal-new-dm-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  pointer-events: none;
}
.modal-new-dm {
  position: absolute;
  z-index: 100;
  padding: 16px;
  border-radius: 32px;
  background-color: white;
  border: 1px solid rgba(176, 178, 179, 0.4);
  box-shadow: 0 4px 20px rgba(33, 33, 33, 0.15);
  pointer-events: auto;
}
.modal-new-dm__header {
  display: flex;
  justify-content: space-between;
}
.modal-new-dm__header__title {
  padding-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #333738;
}
.modal-new-dm__header__title:hover {
  cursor: default;
}
.modal-new-dm__header__close {
  padding: 7px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-new-dm__header__close:hover {
  cursor: pointer;
}
.modal-new-dm__input {
  margin: 16px auto 0 auto;
  width: 260px;
  padding: 11px 16px 11px 16px;
  border: 1px solid #B0B2B3;
  border-radius: 20px;
  display: flex;
}
.modal-new-dm__input input:focus {
  outline: none;
}
.modal-new-dm__input:focus-within {
  outline: currentColors solid 1px;
}
.modal-new-dm__input input {
  border: none;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
.modal-new-dm__input::placeholder {
  color: #B0B2B3;
}
.modal-new-dm__find-symb {
  height: 21px;
}
.modal-new-dm__find-symb svg {
  transform: scale(0.7);
}

.modal-new-dm__error-wrapper {
  height: 21px;
}
.modal-new-dm__error {
  padding-left: 8px;
  color: red;
}

.modal-new-dm__btn-find {
  margin-top: 4px;
  appearance: none;
  border: none;
  width: 260px;
  padding: 11px 16px 11px 16px;
  border-radius: 20px;
  background-color: #ed7029;
  color: #fff;
  padding: 12px 0;
  font-family: "IBM Plex Sans",sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-new-dm__btn-find:hover {
  cursor: pointer;
}
.modal-new-dm__btn-find:disabled {
  background-color: #B0B2B3;
}
.modal-new-dm__btn-find:disabled:hover {
  cursor: default;
}






.modal-contact-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  pointer-events: none;
}
.modal-contact {
  position: absolute;
  z-index: 100;
  padding: 16px;
  border-radius: 32px;
  background-color: white;
  border: 1px solid rgba(176, 178, 179, 0.4);
  box-shadow: 0 4px 20px rgba(33, 33, 33, 0.15);
  pointer-events: auto;
}
.modal-contact__avatar {
  position: relative;
  z-index: 10;
}
.modal-contact__avatar:hover {
  cursor: default;
}
.modal-contact__avatar__pic {
  position: relative;
  z-index: 11;
  flex: 0 0 auto;
  height: 45px;
  width: 45px;
  border-radius: 40%;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-contact__avatar__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  background-color: #25BB75;
}
