html {
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
body {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:link {
  color: #333738;
}
a:visited {
  color: #333738;
}

div {
  display: block;
}
menu, ol, ul {
  list-style: none;
}

#root {
  position: relative;
}
.display-none {
  display: none;
}







/* CONTAINER */
.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}




.sidebar {
  background-color: #F2F2F2;
  flex: 0 0 auto;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.sidebar__search {
  padding: 14px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__search-inp {
  width: 100%;
  background-color: #b0b2b327;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 10px;
  height: 32px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}
.sidebar__nav__item {
  padding: 6px 16px;
  display: flex;
  align-items: center;
}
.sidebar__nav__item:hover {
  background-color: #b0b2b327;
}
.sidebar__nav__item--selected {
  background-color: #B0B2B3;
}
.sidebar__nav__icon {
  flex: 0 0 auto;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__contacts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.sidebar__contacts__header {
  padding: 12px 14px 6px 14px;
  display: flex;
}








.sidebar__contact {
  position: relative;
  z-index: 10;
  padding: 6px 16px;
  display: flex;
  align-items: center;
}
.sidebar__contact:hover {
  background-color: #E0E2E3;
}
.sidebar__contact:hover .sidebar__contact__online {
  border: 1px solid #E0E2E3;
}
.sidebar__contact--selected {
  background-color: #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact:hover {
  background-color: #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact__online {
  border: 1px solid #B0B2B3;
}
.sidebar__contact--selected .sidebar__contact:hover .sidebar__contact__online {
  border: 1px solid #B0B2B3;
}

.sidebar__contact--selected .sidebar__contact__name {
  color: white;
}
.sidebar__contact__avatar {
  position: relative;
  z-index: 10;
  padding: 2px;
  margin-right: 8px;
}
.sidebar__contact__pic {
  position: relative;
  z-index: 11;
  flex: 0 0 auto;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__contact__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  background-color: #25BB75;
}

.sidebar__contact__name {
  flex: 1 1 auto;
}



.contact-container {
  height: 42px;
  padding: 0 8px;
}







.content {
  max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.content__header {
  flex: 0 0 auto;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEAEB;
}






.nav-flexible {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.nav-fixed {
  flex: 0 0 auto;
  display: flex;
}
.flex-item {
  /* min-width: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* flex: 0 0 auto; */
  padding: 2px 8px;
  margin: 0 8px;
}

.content__main {
  height: 100vh;
}
.content__main__contacts {
  max-width: 800px;
  border-right: 1px solid #EBEAEB;
}

.content-header-wrapper {
  position: relative;
  top: 0;
  margin: 0 auto;
  max-width: 800px;
  height: 48px;
  display: flex;
}
.main-nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}







.chat {
  flex: 1 1 auto;
  max-height: calc(100% - 48px);
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
}
.chat-upper-wrap {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.chat-lower-wrap {
  max-height: 50%;
  flex: 0 0 auto;
}



.chat__contact-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.chat__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__contact__avatar {
  position: relative;
  z-index: 10;
  padding: 2px;
  margin-bottom: 8px;
}
.chat__contact__pic {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #828A8E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__contact__online {
  position: absolute;
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #25BB75;
}

.chat__contact__name {
  flex: 1 1 auto;
  font-size: 22px;
  font-weight: 700;
}



.chat__messages {
  display: flex;
  flex-direction: column;
}

.chat__date {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 6px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  color: #B0B2B3;
}
.chat__msg-container {
  display: flex;
}
.chat__msg {
  padding: 12px 16px;
  margin: 2px;
  border-radius: 20px;
  line-height: 21px;
}
.chat__msg--side1 {
  background-color: #F2F2F2;
}
.chat__msg--side2 {
  background-color: #298FED;
  color: white;
}
.chat__msg__pic {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #828A8E;
  display: flex;
  align-items: center;
  justify-content: center;
}









.chat__msg-input {
  padding-left: 16px;
  border-radius: 20px;
  border: 1px solid #B0B2B3;
  display: flex;
}
.chat__msg-input__textarea {
  padding: 12px 0px;
  flex: 1 1 auto;
  border: none;
  resize: none;
  appearance: none;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 21px;
}
.chat__msg-input__textarea:focus {
  outline: none;
}


.chat__msg-input__input input:focus {
  outline: none;
}

.chat__msg-input__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.chat__msg-input__btn {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
}


.auth-form input {
  border: none;
  font-size: 16px;
}
.auth-form input:focus {
  outline: none;
}










/* AUTH */
.auth {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.auth__header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__header-wrapper {
  margin-top: 35px;
  flex: 1 1 auto;
  display: flex;
  max-width: 960px;
}
.logo {
  width: 30px;
  height: 30px;
  background-color: black;
  flex: 0 0 auto;
}
.auth__header-link {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.auth__header-link span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.auth__header-link a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 5px;
  color: #298FED;
}


.auth__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__content-wrapper {}

.auth__content-welcome {
  font-size: 42px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 39px;
}

.auth-form,
.auth-form ul,
.auth-form li,
.auth-form label,
.auth-form input {
  width: 100%;
}

.auth-form li {
  margin-top: 10px;
}
.auth-form label {
  display: block;
}
.auth-form input {
  border: none;
  font-size: 16px;
}
.auth-form input:focus {
  outline: none;
}
.auth-inp-wrapper {
  margin: 16px auto;
  width: 328px;
  padding: 11px 16px 11px 16px;
  border: 1px solid #B0B2B3;
  border-radius: 20px;
  display: flex;
}
#eye-opened {
  margin-right: 1px;
}
.auth-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-inp-wrapper input {
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333738;
}
.auth-inp-wrapper input::placeholder {
  color: #B0B2B3;
}
.auth-inp-wrapper:focus-within {
  outline: currentColors solid 1px;
}

.auth__signin-extra {
  width: 328px;
  margin: 16px auto;
  padding: 0 6px;
  display: flex;
}
.auth__signin-extra-checkbox {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-symb-label {
  margin-left: 10px;
}
.auth__signin-extra-reminder {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  color: #298FED;
}

.passw-symb {
  display: flex;
  align-items: center;
}
.passw-symb:hover {
  cursor: pointer;
}

.auth-btn {
  appearance: none;
  border: none;
  margin: 32px auto 0 auto;
  width: 328px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding: 12px 0;
  background-color: #ED7029;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}
.auth-btn:hover {
  cursor: pointer;
}
